/* Not much yet, and it's probably better to write a Tailwind plugin anyway... */
html {
	@apply antialiased box-border font-sans text-black bg-white overflow-x-hidden;
	font-size: 16px; /* Don't change this! */
	word-spacing: 1px;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	margin-right: calc(100% - 100vw); /* Prevents scrollbar jump */

	/* TODO: Remove if not used */
	scrollbar-width: thin;
	& ::-webkit-scrollbar {
		width: 8px;
		height: 8px;
	}
	& ::-webkit-scrollbar-corner {
		background: transparent;
	}
	scrollbar-color: theme("colors.black.DEFAULT") transparent;
	& ::selection,
	& ::-webkit-scrollbar-thumb {
		color: theme("colors.black.DEFAULT");
		background: theme("colors.gray.DEFAULT");
	}
}

body {
	@apply w-full overflow-x-auto;
}

a:focus-visible {
	/* TODO: custom behavior */
}

a:focus:not(:focus-visible) {
	@apply outline-none;
}
